{% extends "base.html" %}
{% block content %}

<br>
<div class="row">
    <ul class="collection">
  
        <li class="collection-item avatar">
            <i class="material-icons circle teal">add_circle_outline</i>
            <span class="title"><h6>Add New Project</h6></span>
                <p>Fill in all fields.<br>
                Don't forget to follow up with linguists on progress.</p></a>
        </li>
    
    </ul>
</div>

    <div class="row card-panel grey lighten-4">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_project') }}">
                <!-- project name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-pencil-alt prefix"></i>
                        <input id="project_name" name="project_name" minlength="5" maxlength="50" 
                            type="text" class="validate" required>
						<label for="project_name">Project Name</label>
					</div>
                </div>
                <!-- category name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-project-diagram prefix"></i>
						<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
						<label for="category_name">Type of project</label>
					</div>
                </div>
                <!-- project lead -->
                <div class="row">
					<div class="input-field col s12" method="POST" action="">
						<i class="fas fa-id-badge prefix"></i>
						<select id="project_lead" name="project_lead" class="validate" required>
						<option value="" disabled selected>Choose Project Lead</option>
					{% for lead in leads %}
                            <option value="{{ lead.project_lead }}">{{ lead.project_lead | safe }}</option>
                    {% endfor %}
                    </select>
						<label for="project_lead">Project Lead</label>
					</div>
                </div>
                <!-- project linguist -->
                <div class="row">
					<div class="input-field col s12" method="POST" action="">
						<i class="fas fa-language prefix"></i>
						<select id="username" name="username" minlength="5" class="validate" required>
						<option value="" disabled selected>Choose Linguist</option>
					{% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                    {% endfor %}
                    </select>
						<label for="username">Linguist</label>
					</div>
                </div>
                <!-- project description -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-tasks prefix"></i>
						<input id="project_description" name="project_description" minlength="5" maxlength="300" 
                            type="text" class="validate" required>
						<label for="project_description">Add Project Instructions</label>
					</div>
                </div>
                <!-- language pairs -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-file-invoice prefix"></i>
						<input id="project_languages" name="project_languages" type="text" class="validate">
						<label for="project_languages">Add language pairs</label>
					</div>
                </div>
                <!-- specialization -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-certificate prefix"></i>
						<input id="project_specialization" name="project_specialization" type="text" minlength="5" maxlength="80" class="validate">
						<label for="project_specialization">Add project specialization</label>
					</div>
                </div>
                <!-- software -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-database prefix"></i>
						<input id="project_software" name="project_software" type="text" minlength="5" maxlength="15" pattern="/^[a-zA-Z][a-zA-Z\d-_\.]+$/" class="validate" required>
						<label for="project_software">Add Project CAT Tool or Platform. </label>
					</div>
                </div>
                <!-- due date -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-calendar-alt prefix"></i>
                        <input id="project_due_date" name="project_due_date" type="text" class="datepicker validate" required >
                        <label for="project_due_date">Add Due Date</label>
                    </div>
                </div>
                  <!-- project status -->
                <div class="row">
					<div class="input-field col s12" method="POST" action="">
						<i class="fas fa-question prefix"></i>
						<select id="project_status" name="project_status" minlength="5" class="validate" required>
						<option value="" disabled selected>Choose Status</option>
					{% for status in status %}
                            <option value="{{ status.project_status }}">{{ status.project_status }}</option>
                    {% endfor %}
                    </select>
						<label for="project_status">Project Status</label>
					</div>
                </div>  
                <!-- is overdue toggle -->
                <div class="row">
			    	<div class="input-field col s12">
					    <div class="switch">
                            <i class="fas fa-exclamation-circle prefix"></i>
						        <label for="project_is_overdue">
                                    <input type="checkbox" id="project_is_overdue" name="project_is_overdue">
                                    <span class="lever"></span>
                                Behind Due Date?
                                 </label>
					    </div>
				    </div>
			    </div>

                <!-- submit bottom -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large teal text-shadow">
                        Create Project <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
        </form>
    </div>
<br>

{% endblock %}