{% extends "base.html" %}
{% block content %}

<br>
<div class="row">
    <ul class="collection">
  
        <li class="collection-item avatar">
            <i class="material-icons circle teal">add_circle_outline</i>
            <span class="title"><h6>Manage categories</h6></span>
                <p>Add or delete new categories/services.<br>
                </p></a>
        </li>
    
    </ul>
</div>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m3">
                <div class="card grey lighten-3 center-align">
                    <div class="card-content black-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn orange darken-3">Edit</a>
                        <a href="#" class="btn teal accent-3">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}