{% extends "base.html" %}
{% block content %}

    

    {% for project in projects %}
        {{ project.project_name }}<br>
        {{ project.category_name }}<br>
        {{ project.project_lead }}<br>
        {{ project.project_description | safe }}<br>
        {{ project.project_languages }}<br>
        {{ project.project_specialization }}<br>
        {{ project.project_software }}<br>
        {{ project.project_due_date }}<br>
        {{ project.project_is_overdue }}<br>
        {{ project.project_status }}
        {% endfor %}

{% endblock %}
