<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments Overview</title>
</head>
<body>
    {% for project in projects %}
        {{ project.project_name }}<br>
        {{ project.project_lead }}<br>
        {{ project.due_date }}<br>
        {{ project.priority }}<br>
        {{ project.keyword }}<br>
        {{ project.instructions }}<br>
        {{ project.is_overdue }}<br>
    {% endfor %}
</body>
</html>